body {
    font-size: 24px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
ul li.green {
    color: green;
}
ul ol li.red {
    color: red;
}
ul ol li.blue {
    color: blue;
}